# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environment
venv/
ENV/
env/
.env/

# Django
*.log
*.pot
*.pyc
/staticfiles/
/media/

# IDEs
.vscode/
.idea/
*.swp

# System
.DS_Store
Thumbs.db